.nav-dp {
    background: #FFF6D4;
    color: #100C09;
    width: 99.1%;
    height: 85px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    z-index: 12;
    position: fixed;
}

.container-dp {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 15vh;
    text-align: center;
}

h5 {
    margin-bottom: 5px;
}

.premium-label {
    position: fixed;
    margin-top: -8px;
    margin-left: 210px;
    transform: rotate(25deg);
    color: darkgoldenrod;
}

.list-result {
    display: grid;
    justify-content: center;
    text-align: left;
    gap: 20px;
    margin-top: 15px;
}

.img-search {
    max-width: 40px;
    max-height: 40px;
    margin: 20px;
}

.main-item {
    display: flex;
    align-items: center;
}

.item-name {
    font-size: 17px;
    margin-right: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 3.2rem;
}

.item-artist {
    position: absolute;
    margin-top: 40px;
    margin-left: 80px;
    font-size: 13px;
    color: #646157;
}

.container-item {
    background: #fff6d4;
    margin: -1px;
    border-radius: 4px;
    color: #100c09;
    width: 104%;
}

.pagination {
    padding-top: 20px;
}

.icon-arrow-left {
    color: whitesmoke !important;
}
@media screen and (max-width: 768px) {
    .nav-dp {
        width: 96%;
    }

    .webflow-style-input {
        max-width: 100% !important;
    }

    .container-item {
        max-width: 100%;
    }
}



/******************************************/
/* ==================================================== Recreating the email field from https://webflow.com/cms. Just an experiment - not as cross-browser friendly as the original. Changed: - animated gradient bar to :after element - flexbox for layout ==================================================== */

.btn-search {
    height: 30px;
    padding: 0;
    margin-top: 3px;
    margin-bottom: 0px;
    border-radius: 6px;
    background-color: transparent;
}

.icon-search {
    font-size: 0;
    color: whitesmoke;
}

input {
    border-style: none;
    background: transparent;
    outline: none;
}
button {
/*    padding: 0;*/
    background: none;
/*    border: none;*/
/*    outline: none;*/
}
@keyframes gradient {
    0% {
        background-position: 0 0;
    }
100% {
        background-position: 100% 0;
    }
}
.webflow-style-input {
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    padding: -0.6rem 2rem 2.6rem;
    background: rgba(255, 246, 212, 0.31);
    max-width: 50%;
    justify-content: space-evenly;
    margin: 0 auto;
}
.webflow-style-input:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #b294ff, #57e6e6, #feffb8, #57e6e6, #b294ff, #57e6e6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}
.webflow-style-input input {
    color: whitesmoke;
    font-size: 20px;
    line-height: 2.4rem;
}
.webflow-style-input input::-webkit-input-placeholder {
    color: whitesmoke;
}

.webflow-style-input button:hover {
    color: whitesmoke;
}
