@font-face {
  font-family: "BungeeInline";
  src: local('BungeeInline'), url('../../fonts//Bungee_Inline/BungeeInline-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "LeckerliOne";
  src: local('LeckerliOne'), url('../../fonts//Leckerli_One/LeckerliOne-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Megrim";
  src: local('Megrim'), url('../../fonts//Megrim//Megrim-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Nabla";
  src: local('Nabla'), url('../../fonts//Nabla/Nabla-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Reenie";
  src: local('Reenie'), url('../../fonts//Reenie_Beanie/ReenieBeanie-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Rubik";
  src: local('Rubik'), url('../../fonts//Rubik_Dirt//RubikDirt-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "syncopate";
  src: local('syncopate'), url('../../fonts//Syncopate/Syncopate-Regular.ttf') format("truetype");
}

.font-bunge {
  font-family: "BungeeInline";
}

.font-lecker {
  font-family: "LeckerliOne";
}

.font-megrim {
  font-family: "Megrim";
}

.font-nabla {
  font-family: "Nabla";
}

.font-rennie {
  font-family: "Reenie";
}

.font-rubik {
  font-family: "Rubik";
}

.font-syncopate {
  font-family: "syncopate";
}

.card-container {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
  z-index: 20!important;
}

.card-box {
  background: #82c294;
  width: 400px;
  height: 500px;
  margin-top: 30px;
  margin-left: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.blocked-box {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  box-shadow: none !important;
  cursor: not-allowed;
}

.card-box:hover {
  box-shadow: 5px 5px 10px 1px #455c4b;
}

.card-title {
  background-color: #235732b5;
  border-radius: 5px;
  color: whitesmoke;
  padding-top: 30px;
  padding-bottom: 25px;
  font-size: 40px;
}

.sotify-logo {
  margin-top: 80px;
  width: 250px;
}

.btn {
  margin-top: 30px;
  color: whitesmoke;
  background-color: #629771;
  border-radius: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 10px;
  border: none;
}

.btn:hover {
  transform: scale(1.1); 
}

@media screen and (max-width: 768px) {
  .card-box {
    width: 500px;
  }

}