
.logo-nav-bar {
  margin-top: 35px;
  margin-left: 10px;
  font-size: 50px;
  cursor: pointer;
}

.logo-nav-bar:hover {
  color: #595959
}

.nav {
  background: #FFF6D4;
  color: #100C09;
  width: 99.1%;
  height: 85px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  z-index: 12;
  position: fixed;
}

.nav2 {
  display: flex;
  /* margin-left: auto; */
}

.nav-link {
  color: #595959;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.nav-link:hover {
  color: #100C09;
}

.active {
  color: #100C09;
}

.bars {
  display: none;
  color: #595959;
}

.nav-menu {
  display: flex;
  align-items: center;
  margin-right: -24px;
}

.nav-btn {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.nav-btn-link {
  border-radius: 5px;
  color: #FFFCE6;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding-top: 50px;
  padding-left: 15px;
  position: fixed;
  font-size: 20px;
}

.nav-btn-link2 {
  border-radius: 5px;
  color: #FFFCE6;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 15px;
  position: fixed;
  font-size: 20px;
}

.nav-btn-link:hover {
  color: #FFFCE6;
}

.nav-menu-mobile {
  display: none;
}

.profile-img {
  border-radius: 100%;
  max-width: 100px;
  max-height: 60px;
  margin-top: 5px;
  cursor: pointer;
}

.profile-content {
  display: none;
  margin-top: 18vh;
  margin-left: 2vh;
  border-radius: 5px;
  width: 150px;
  height: 90px;
  background-color: #595959;
  position: fixed;
  color: whitesmoke;
}

.icon-arrow-up {
  margin-top: -38px;
  position: fixed;
  padding-right: -44px;
  color: #595959;
  right: 7%;
}

.profile-name {
  margin-left: 5px;
  cursor: pointer;
}

li a {
  color: whitesmoke !important;
}

ul {
  list-style-type: none;
    padding: 0;
    margin: 15px 0 0 10px;
    max-width: 85%;
}

hr {
  border-top: 1px solid #ccc;
} 

@media screen and (max-width: 768px) {

  .menu-mobile {
    display: flex;
    gap: 20px;
  }

  .nav {
    width: 96%;
  }

  .logo-nav-bar {
    margin-top: 30px;
  }

  .bars {
    display: block;
    position: absolute;
    right: 0;
    transform: translate(-15%, 35%);
    font-size: 35px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .bars:active {
    color: #3D3D3D;
  }

  .nav-menu {
    display: none;
  }
  .nav-btn {
    display: none;
  }

  .nav-menu-mobile {
    display: none;
    margin-top: 70px;
    margin-bottom: 10px;
    color: #3D3D3D;
  }

  .btn-singout {
    border-radius: 9px;
    background: #100C09;
    padding: 10px 22px;
    color: #595959;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }
  
  .btn-singout:hover {
    color: black;
    background-color: #3D3D3D;
  }

  .btn-sing-out-mobile {
    color: rgb(124, 81, 81)!important;
    font-weight: lighter;
  }

  .menu-item {
    color: #3D3D3D;
    font-weight: bold;
  }

  .menu-item:hover {
    color: #100C09;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }

  .active {
    color: #595959;
  }

  .menu-item-label {
    color: whitesmoke;
  }
  .menu-item-label:hover {
    color: whitesmoke;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }

.profile-img-mobile {
      border-radius: 100%;
      max-width: 50px;
      max-height: 50px;
      margin-top: 0;
      cursor: pointer;
  }

.profile-img-mobile:active {
      transform: scale(0.5);
  }
}