
.logo-nav-bar {
  margin: 30px;
  font-size: 70px;
  cursor: pointer;
}

.logo-nav-bar:hover {
  color: #E4E6C3
}

.nav {
  background: #82c294;
  width: 99.1%;
  height: 100px;
  display: flex;
  border-radius: 5px;
  justify-content: flex-start;
  z-index: 12;
  position: fixed;
}

.nav2 {
  display: flex;
  margin-left: auto;
}

.nav-link {
  color: white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.nav-link:hover {
  color: green;
}

.active {
  color: green;
}

.bars {
  display: none;
  color: white;
}

.nav-menu {
  display: flex;
  align-items: center;
  margin-right: -24px;
}

.nav-btn {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.nav-btn-link {
  border-radius: 5px;
  background: #47855b;
  padding: 10px 22px;
  color: whitesmoke;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  /* Second Nav */
  margin-left: 24px;
}

.nav-btn-link:hover {
  transition: all 0.2s ease-in-out;
  background: #feffff;
  color: black;
}

.nav-menu-mobile {
  display: none;
}

@media screen and (max-width: 768px) {

  .menu-mobile {
    display: grid;
    text-align: center;
  }

  .nav {
    width: 96%;
  }

  .logo-nav-bar {
    margin: 30px;
    font-size: 70px;
  }
  .bars {
    display: block;
    position: absolute;
    right: 0;
    transform: translate(-100%, 75%);
    font-size: 35px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .bars:active {
    color: #47855b;
  }

  .nav-menu {
    display: none;
  }
  .nav-btn {
    display: none;
  }

  .nav-menu-mobile {
    display: none;
    margin-top: 70px;
    margin-bottom: 10px;
    color: whitesmoke;
  }

  .btn-singout {
    border-radius: 9px;
    background: #47855b;
    padding: 10px 22px;
    color: whitesmoke;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }
  
  .btn-singout:hover {
    color: black;
    background-color: whitesmoke;
  }

  .btn-sing-out-mobile {
    color: rgb(124, 81, 81)!important;
    font-weight: lighter;
  }

  .menu-item {
    color: whitesmoke;
    font-weight: bold;
  }

  .menu-item:hover {
    color: #47855b;
    color: whitesmoke;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }

  .active {
    color: #47855b;
  }

  .menu-item-label {
    color: whitesmoke;
  }
  .menu-item-label:hover {
    /* color: red;
    border-radius: 9px;
    background: #47855b; */
    /* padding: 10px 22px; */
    color: whitesmoke;
    outline: none;
    border: none;
    cursor: pointer;
    /* transition: all 0.2s ease-in-out; */
    text-decoration: none;
  }
}