
@font-face {
    font-family: "barcode";
    src: local('barcode'), url('./fonts//barcode/LibreBarcode39Text-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "barcode";
    src: local('barcode'), url('./fonts//barcode/LibreBarcode39Text-Regular.ttf') format("truetype");
}


@font-face {
  font-family: "rubikDistressed";
  src: local('BungeeInline'), url('./fonts//Rubik_Distressed/RubikDistressed-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "LeckerliOne";
  src: local('LeckerliOne'), url('./fonts//Leckerli_One/LeckerliOne-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Megrim";
  src: local('Megrim'), url('./fonts//Megrim//Megrim-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Nabla";
  src: local('Nabla'), url('./fonts//Nabla/Nabla-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Reenie";
  src: local('Reenie'), url('./fonts//Reenie_Beanie/ReenieBeanie-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Rubik";
  src: local('Rubik'), url('./fonts//Rubik_Dirt//RubikDirt-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "syncopate";
  src: local('syncopate'), url('./fonts//Syncopate/Syncopate-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "dazzle";
  src: local('dazzle'), url('./fonts//Dazzle/BIG-DAZZLE.ttf') format("truetype");
}

.font-bunge {
  font-family: "BungeeInline";
}

.font-lecker {
  font-family: "LeckerliOne";
}

.font-megrim {
  font-family: "Megrim";
}

.font-nabla {
  font-family: "Nabla";
}

.font-rennie {
  font-family: "Reenie";
}

.font-rubik {
  font-family: "Rubik";
}

.font-syncopate {
  font-family: "syncopate";
}

.font-dazzle {
  font-family: "dazzle";
}

.font-barcode {
  font-family: "barcode"
}

.font-rubik-distressed {
    font-family: "rubikDistressed"
}

*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

*:focus {outline:none !important}

#app {
  outline: none;
  outline-style: none;
}
button {
   background-color:  #FFFCE6;
   color: #100C09;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


a {
  font-weight: 500;
  color: #595959;
  text-decoration: inherit;
}
a:hover {
  color: #284932;
}
/* 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
button:hover {
  /* border-color: #646cff; */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#btnScrollTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 45px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #595959; /* Set a background color */
  color: #FFFCE6; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#btnScrollTop:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgba(255, 255, 255, 0.87);
  }
}

